*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 25svh;
    width: 10rem;
}
body{
    height: 100svh;
}
 .maincontainer{
    background-color: #71397cce;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-rows: 3rem 1fr 1fr 1fr;
    gap: .5rem;
}
h1{
    background:  linear-gradient(#eee, #333);
}

span{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
}
